<%- include("./partials/header.ejs") %>

<link href="/css/about.css" rel="stylesheet">
<title>About</title>
</head>

<body>
    <section class="hero is-info">
        <div class="hero-body">
            <img src="/img/logo.jpg" style="width:400px">
          <p class="title">
            
            Unnati Mahila Baal Kalyan Sewa Samiti
          </p>
          <p class="subtitle">
            Unnati Mahila Baal Kalyan Sewa Samiti is a not-for-profit organization in India, registered under the Societies’ Registration Act of 2017. Set up in 1978, the organization works for ‘the cause and care of disadvantaged older people to improve their quality of life’. Unnati  envisions a society where elderly have the right to an active life. Unnati  focuses on alleviating poverty and social injustice. Unnati do this through well planned and comprehensive projects in health, education, livelihoods, environment and disaster preparedness and response. Our overall goal is the empowerment of women and girls from poor and marginalized communities to improvement in there livelihoods.
          </p>
        </div>
      </section>

      <section class="hero is-success">
        <div class="hero-body">
          <p class="title">
            Contact Info:
          </p>
          <p class="subtitle">
            Reg. Office: 310,Near Nehru Public School Rithani Meerut- 250103
          <p class="subtitle"> E-mail: unnatisamiti0@gmail.com</p> 

          </p>
        </div>
      </section>
</body>