<%- include("./partials/header.ejs") %>

<link href="/css/homepage.css" rel="stylesheet">
<title>Unnati Prem Ashram</title>
</head>

<body>
  <section class="hero is-primary" id="hero-title">
    <div class="hero-body">
      <p class="title">
        Unnati Prem Ashram ( वृद्ध आश्रम ) 
      </p>
      <p class="subtitle">
        <b>R.K. Puram, Govindpuram, Ghaziabad</b>
      </p>
    </div>
  </section>

  <section class="hero is-primary" >
    <div class="hero-body">
      <p class="title">
        बड़ों का अभिवादन करने वाले मनुष्य और नित्य वृद्धों की सेवा करने वाले मनुष्य की आयु, विद्या, दश और बल, ये चार चीजें बढ़ती हैं । 
      </p>
     
    </div>
  </section>


  <section class="hero is-link" id="section-1">
    <div class="hero-body">
      <img src="/img/old-age-1.png">
      <img src="/img/old-age-2.png">
      <img src="/img/old-age-3.png" id="old-age-3">
      <p class="title">
        Establishment of UNNATI PREM ASHRAM Old age home to serve destitute, helpless old people. Unnati Sanstha which is a social organization, has been working for the service of destitute helpless old people since its inception year in 2017. 
        <p class="title">People are given a home environment with shelter and medical treatment. </p>
        <p class="title">They too can live with respect and at the same time they can stand by themselves in the main stream society. Treatment, care and shelter will be provided to the destitute helpless old people in this ashram.</p>
        <p class="title">Our worship and prayer is the service of the homeless, helpless, sick people.</p>

      </p>
     
    </div>
  </section>


  <section class="hero is-success">
    <div class="hero-body">
      <p class="title">
        Contact Info:
      </p>
      <p class="subtitle">
        Unnati Prem Ashram (Old age home)
House No. 19, R.K. Puram, Govindpuram, Ghaziabad  

      <p class="subtitle"> E-mail: unnatisamiti0@gmail.com</p> 

      </p>
    </div>
  </section>
    
  

    
      
      
    
</body>
</html>